#top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  background-color: #fafafa;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save {
  display: flex;
  font-size: 16px;
  text-transform: lowercase;
  opacity: 0.7;
}

.save li {
  padding-right: 30px;
}

@media print {
  #top-bar {
    display: none;
  }
}
