.interests__list li:before {
  content: "* "
}

#education a {
  font-size: 16px;
}

#publications a {
  font-size: 16px;
}

#publications li {
  margin-bottom: 10px;
}

#publications li:last-child {
  margin-bottom: 0px;
}
