html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif;
  overflow-y: scroll;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.6;

  @media only screen and (max-width: 480px) {
    font-size: 32px;
    line-height: 1.4;
  }
}

a {
  text-decoration: none;
}

p {
  font-family: inherit;
  margin-bottom: 30px;
}

article {
  position: relative;
  line-height: 26px;
}

content {
  display: block;
  max-width: 650px;
  margin: auto;

  @media only screen and (max-width: 480px) {
    padding: 20px;
  }
}

header {
  display: flex;
  max-width: 650px;
  margin: 120px auto;

  @media only screen and (max-width: 480px) {
    margin: 30px auto 60px auto;
    padding: 0 20px;
  }
}

header p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.4;
}

header img {
  width: 275px;
}

.header-img-wrapper {
  transform: rotate(6deg);
  background-color: #fff;
  padding: 10px;
  margin: 10px;

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.Splitter {
  text-align: center;
  margin: 0 0 30px 0;
}

.nav {
  list-style: none;
  font-weight: bold;
  display: flex;
  padding: 0;
  margin: 0;
  color: #6D8692;
  font-size: medium;
  border-top: 1px solid #d8d8d8;
  padding-top: 15px;
  width: 65%;
}

.nav li {
  margin-right: 2em;
}

strong { font-weight: bold; }
.mbtm-10 { margin-bottom: 10px; }
.mbtm-30 { margin-bottom: 30px; }
.mbtm-none { margin-bottom: 0; }
.mleft-20 { margin-left: 20px; }


.Image {
  &__Profile {
    width: 150px;
    height: 150px;
  }
  &__Chandra {
    width: 38px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__Screenshot {
    height: 200px;
    width: 308px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  }
  &__WithCaption {
    text-align: center;
    margin: 30px 0;
    img { width: 100%; }
  }
}

.Project {
  margin: 60px 0;

  &__Description {
    font-size: 16px;
    line-height: 1.4;
    margin-right: 60px;

    @media only screen and (max-width: 480px) {
      margin-right: 0px;
    }
  }
  &__Summary {
    z-index: 9999;
    position: relative;
    padding: 50px 10px 0 10px;
    background: rgba(255,255,255,0.63);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.63) 0%, rgba(255,255,255,0.79) 11%, rgba(255,255,255,1) 26%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.63)), color-stop(11%, rgba(255,255,255,0.79)), color-stop(26%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.63) 0%, rgba(255,255,255,0.79) 11%, rgba(255,255,255,1) 26%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.63) 0%, rgba(255,255,255,0.79) 11%, rgba(255,255,255,1) 26%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.63) 0%, rgba(255,255,255,0.79) 11%, rgba(255,255,255,1) 26%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.63) 0%, rgba(255,255,255,0.79) 11%, rgba(255,255,255,1) 26%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    background: linear-gradient(to bottom, rgba(255,255,255,0.63) 0%, rgba(255,255,255,0.79) 11%, rgba(255,255,255,1) 26%);
    margin: -130px auto 0 auto;
  }
}
