html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
//  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
  color: #333;
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

blockquote {
  font-family: georgia;
  font-size: 20px;
  line-height: 1.5;
}

p {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

content {
  margin-top: 60px;
  display: block;
}

article {
  max-width: 650px;
  position: relative;
  margin-left: 330px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 26px;
}

.Splitter {
  text-align: center;
  margin: 0 0 30px 0;
}


nav {
  flex-direction: column;
  display: flex;
  margin-top: 30px;

  a {
    color: #000;
    opacity: 0.6;
    cursor: pointer;
    padding-bottom: 30px;
    text-transform: capitalize;
    text-align: right;
    font-size: 16px;
    font-family: inherit;
  }

  a:hover {
    text-decoration-line: underline;
    color: #c0392b;
    opacity: 1;
  }

  .selected {
    color: #c0392b;
    font-weight: bold;
    opacity: 1;
  }
}

sidebar {
  position: fixed;
  width: auto;
  padding: 60px 0 0 60px;
}

.mbtm-30 {
  margin-bottom: 30px;
}
.mbtm-none {
  margin-bottom: 0;
}

.Image {
  &__Profile {
    width: 150px;
    height: 150px;
  }
  &__Chandra {
    width: 38px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__Screenshot {
    height: 200px;
    width: 308px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
  }
}

.Project {
  &__Description {
    font-size: 14px;
    margin-right: 60px;
  }
}
.Greetings {
  margin-bottom: 30px;
  font-family: Georgia;
  font-style: italic;
  font-size: 22px;
}
