.works {
  margin-bottom: 30px;

  &__desc {
    margin-left: 20px;
  }

  &__desc li {
    margin-bottom: 5px;
    list-style: disc;
  }
  &__desc li:last-child {
    margin-bottom: 0px;
  }
}

.works a {
  font-size: 16px;
}
#education {
  margin-bottom: 50px;
}
