@import 'samagri/typography';
@import url("http://fonts.googleapis.com/css?family=#Abril+Fatface");

a {
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}

h1 {
    
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background-color: #fff;  
  display: flex;
  
  flex-grow: 2;
  flex-direction: row;
  align-items: flex-end;
  
  padding-left: 5em;
}

section {
  flex-grow: 1;
  background-color: #000;
  padding-left: 5em;
  border-top: 2px solid #003EE8;
}

.title {
  @include font('fatface', 'regular', em(90), 1.4);
}