/* Color Pallete */
/* Pallete helper methods.*/
/* Fonts Register */
/* Text Style Helpers */
/* Typography Helpers Methods */
/* Reset Default Typeset. */
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  font-size: "16px";
  line-height: 1.4; }

body {
  padding: 0;
  width: 75%;
  margin: auto;
  margin-top: 10%;
  font-family: Roboto Mono;
  font-size: 1.125em;
  line-height: 1.4; }

h1 {
  font-size: 40px;
  margin: 20px 0; }

h1, h2 {
  color: #003EE8; }

h1, h2, h3 {
  font-weight: bold; }

h2, h3 {
  font-size: 25px; }

h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer; }

a:hover {
  color: #003EE8; }

blockquote:before {
  content: '"'; }

blockquote {
  font-size: 26px;
  font-style: italic;
  font-weight: bold;
  color: #808080; }

p {
  margin: 0; }

strong {
  font-weight: bold; }

section {
  margin-bottom: 60px; }

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0; }

.separator__first {
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #003EE8; }

.separator__second {
  margin-bottom: 28px;
  width: 50%;
  border-bottom: 1px solid;
  border-color: #003EE8; }

.half {
  width: 50%; }

.icon {
  width: 50px;
  height: 50px; }

.info {
  display: flex;
  justify-content: space-between; }

.info a {
  text-decoration: none; }

.description {
  display: flex; }

.description p {
  padding-right: 30px; }

.description p {
  width: 60%; }

.description blockquote {
  width: 40%; }

.description blockquote {
  align-self: center; }

.project {
  margin-bottom: 30px; }
  .project__header {
    display: flex;
    margin-bottom: 20px; }
    .project__header--block {
      display: block;
      margin-bottom: 20px; }
  .project__icon {
    align-self: center;
    padding-right: 20px; }

.project p {
  font-size: 16px;
  line-height: 1.4; }

.skills td {
  line-height: 2.4; }

.skills {
  border-collapse: collapse; }

.skills td:first-child {
  font-weight: bold;
  padding-right: 50px; }

.skills tr {
  border-bottom: 1px solid;
  border-color: #003EE8; }

.skills tr:last-child {
  border-bottom: 0px; }

.works tr {
  display: flex; }

.works td {
  width: 50%; }

.works li {
  margin-bottom: 20px;
  list-style-type: disc; }

.works {
  display: flex;
  margin-bottom: 30px; }
  .works__designation {
    margin-bottom: 30px;
    display: flex; }

.works__baxi li:first-child {
  list-style: none; }

.works .half li {
  font-size: 16px;
  line-height: 1.4; }

.interests__list li:before {
  content: "* "; }

.interests__list li {
  margin-bottom: 20px; }

#top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  background-color: #fafafa;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.save {
  display: flex;
  font-size: 16px;
  text-transform: lowercase;
  opacity: 0.7; }

.save li {
  padding-right: 30px; }

#download {
  float: right;
  top: 7px;
  position: relative;
  right: 12%;
  color: #fff;
  background-color: #e74c3c;
  border: 0px;
  border-radius: 25px;
  padding: 10px 20px;
  opacity: 1;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; }

#publications li {
  margin-bottom: 30px; }

@media print {
  body {
    width: 100%;
    font-size: 14px;
    margin-top: 0; }
  body * {
    visibility: hidden; }
  blockquote {
    font-size: 18px; }
  h2,
  h3 {
    font-size: 18px; }
  section {
    margin-bottom: 45px; }
  section * {
    visibility: visible; }
  .works {
    display: block; }
  .half {
    width: 100%; }
  .works li {
    margin-bottom: 10px; }
  .works__meta {
    margin-bottom: 30px; }
  .works td:first-child {
    width: 40%; }
  .works td:nth-child(2) {
    width: 60%; }
  .works__baxi li {
    list-style-type: disc; }
  .description p {
    width: 60%; }
  .description blockquote {
    width: 40%; } }

.shree-logo {
  align-self: center;
  padding-right: 20px;
  font-size: 32px;
  font-weight: bold; }

/*# sourceMappingURL=resume.css.map */