/* line 3, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* line 11, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
body {
  font-family: 'Space Mono', monospace;
  overflow-y: scroll;
  color: #333; }

/* line 20, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
h1 {
  font-size: 28px;
  margin-bottom: 30px; }

/* line 25, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
h2 {
  font-size: 1.2em; }

/* line 29, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
a {
  text-decoration: none; }

/* line 33, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
blockquote {
  font-family: georgia;
  font-size: 20px;
  line-height: 1.5; }

/* line 39, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
p {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px; }

/* line 46, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
content {
  margin-top: 60px;
  display: block; }

/* line 51, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
article {
  max-width: 650px;
  position: relative;
  margin-left: 330px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 26px; }

/* line 60, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Splitter {
  text-align: center;
  margin: 0 0 30px 0; }

/* line 66, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
nav {
  flex-direction: column;
  display: flex;
  margin-top: 30px; }
  /* line 71, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  nav a {
    color: #000;
    opacity: 0.6;
    cursor: pointer;
    padding-bottom: 30px;
    text-transform: capitalize;
    text-align: right;
    font-size: 16px;
    font-family: inherit; }
  /* line 82, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  nav a:hover {
    text-decoration-line: underline;
    color: #c0392b;
    opacity: 1; }
  /* line 88, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  nav .selected {
    color: #c0392b;
    font-weight: bold;
    opacity: 1; }

/* line 95, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
sidebar {
  position: fixed;
  width: auto;
  padding: 60px 0 0 60px; }

/* line 101, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
strong {
  font-weight: bold; }

/* line 103, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-30 {
  margin-bottom: 30px; }

/* line 106, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-none {
  margin-bottom: 0; }

/* line 112, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Profile {
  width: 150px;
  height: 150px; }

/* line 116, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Chandra {
  width: 38px;
  margin-top: 60px;
  margin-bottom: 30px; }

/* line 121, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Screenshot {
  height: 200px;
  width: 308px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: auto;
  margin: auto;
  display: block; }

/* line 131, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__WithCaption {
  text-align: center;
  margin: 30px 0; }
  /* line 134, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  .Image__WithCaption img {
    width: 100%; }

/* line 139, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Project__Description {
  font-size: 14px;
  margin-right: 60px; }

/* line 143, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Project__Summary {
  z-index: 9999;
  position: relative;
  padding: 50px 10px 0 10px;
  background: rgba(255, 255, 255, 0.63);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.63)), color-stop(11%, rgba(255, 255, 255, 0.79)), color-stop(26%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
  margin: -130px auto 0 auto; }

/* line 160, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Writings {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 166, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Greetings {
  margin-bottom: 30px;
  font-family: Georgia;
  font-style: italic;
  font-size: 22px; }

/*# sourceMappingURL=main.css.map */