/* line 1, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* line 9, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
body {
  font-family: 'Merriweather', serif;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

/* line 20, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

/* line 25, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.6; }
  @media only screen and (max-width: 480px) {
    /* line 25, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
    h1 {
      font-size: 32px;
      line-height: 1.4; } }

/* line 36, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
a {
  text-decoration: none; }

/* line 40, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
p {
  font-family: inherit;
  margin-bottom: 30px; }

/* line 45, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
article {
  position: relative;
  line-height: 26px; }

/* line 50, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
content {
  display: block;
  max-width: 650px;
  margin: auto; }
  @media only screen and (max-width: 480px) {
    /* line 50, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
    content {
      padding: 20px; } }

/* line 60, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
header {
  display: flex;
  max-width: 650px;
  margin: 120px auto; }
  @media only screen and (max-width: 480px) {
    /* line 60, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
    header {
      margin: 30px auto 60px auto;
      padding: 0 20px; } }

/* line 71, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
header p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.4; }

/* line 77, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
header img {
  width: 275px; }

/* line 81, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.header-img-wrapper {
  transform: rotate(6deg);
  background-color: #fff;
  padding: 10px;
  margin: 10px; }
  @media only screen and (max-width: 480px) {
    /* line 81, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
    .header-img-wrapper {
      display: none; } }

/* line 92, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Splitter {
  text-align: center;
  margin: 0 0 30px 0; }

/* line 97, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.nav {
  list-style: none;
  font-weight: bold;
  display: flex;
  padding: 0;
  margin: 0;
  color: #6D8692;
  font-size: medium;
  border-top: 1px solid #d8d8d8;
  padding-top: 15px;
  width: 65%; }

/* line 110, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.nav li {
  margin-right: 2em; }

/* line 114, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
strong {
  font-weight: bold; }

/* line 115, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-10 {
  margin-bottom: 10px; }

/* line 116, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-30 {
  margin-bottom: 30px; }

/* line 117, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-none {
  margin-bottom: 0; }

/* line 118, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mleft-20 {
  margin-left: 20px; }

/* line 122, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Profile {
  width: 150px;
  height: 150px; }

/* line 126, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Chandra {
  width: 38px;
  margin-top: 60px;
  margin-bottom: 30px; }

/* line 131, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Screenshot {
  height: 200px;
  width: 308px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: auto;
  margin: auto;
  display: block; }

/* line 141, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__WithCaption {
  text-align: center;
  margin: 30px 0; }
  /* line 144, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  .Image__WithCaption img {
    width: 100%; }

/* line 148, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Project {
  margin: 60px 0; }
  /* line 151, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  .Project__Description {
    font-size: 16px;
    line-height: 1.4;
    margin-right: 60px; }
    @media only screen and (max-width: 480px) {
      /* line 151, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
      .Project__Description {
        margin-right: 0px; } }
  /* line 160, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  .Project__Summary {
    z-index: 9999;
    position: relative;
    padding: 50px 10px 0 10px;
    background: rgba(255, 255, 255, 0.63);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.63)), color-stop(11%, rgba(255, 255, 255, 0.79)), color-stop(26%, white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.79) 11%, white 26%);
    margin: -130px auto 0 auto; }

/*# sourceMappingURL=main.css.map */