/* line 1, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* line 9, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
body {
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
  color: #333; }

/* line 16, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
h1 {
  font-size: 28px;
  margin-bottom: 30px; }

/* line 21, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
h2 {
  font-size: 1.2em; }

/* line 25, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
a {
  text-decoration: none; }

/* line 29, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
blockquote {
  font-family: georgia;
  font-size: 20px;
  line-height: 1.5; }

/* line 35, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
p {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px; }

/* line 42, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
content {
  margin-top: 60px;
  display: block; }

/* line 47, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
article {
  max-width: 650px;
  position: relative;
  margin-left: 330px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 26px; }

/* line 56, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Splitter {
  text-align: center;
  margin: 0 0 30px 0; }

/* line 62, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
nav {
  flex-direction: column;
  display: flex;
  margin-top: 30px; }
  /* line 67, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  nav a {
    color: #000;
    opacity: 0.6;
    cursor: pointer;
    padding-bottom: 30px;
    text-transform: capitalize;
    text-align: right;
    font-size: 16px;
    font-family: inherit; }
  /* line 78, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  nav a:hover {
    text-decoration-line: underline;
    color: #c0392b;
    opacity: 1; }
  /* line 84, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
  nav .selected {
    color: #c0392b;
    font-weight: bold;
    opacity: 1; }

/* line 91, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
sidebar {
  position: fixed;
  width: auto;
  padding: 60px 0 0 60px; }

/* line 97, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-30 {
  margin-bottom: 30px; }

/* line 100, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.mbtm-none {
  margin-bottom: 0; }

/* line 105, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Profile {
  width: 150px;
  height: 150px; }

/* line 109, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Chandra {
  width: 38px;
  margin-top: 60px;
  margin-bottom: 30px; }

/* line 114, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Image__Screenshot {
  height: 200px;
  width: 308px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1); }

/* line 123, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Project__Description {
  font-size: 14px;
  margin-right: 60px; }

/* line 128, /Users/rabi/27ae60/rabishah.github.io/scss/main.scss */
.Greetings {
  margin-bottom: 30px;
  font-family: Georgia;
  font-style: italic;
  font-size: 22px; }

/*# sourceMappingURL=main.css.map */